/.bashrc
/.cache
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.ollama
/.vscode
/.wget-hsts
/.zcompdump
/.zshrc
/.condarc
/.hushlogin
/.docker
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful